{
	admin off
}

# Serve code-server on plain HTTP $PORT with embed-friendly headers
:{$PORT} {
	encode zstd gzip

	header {
		-X-Frame-Options
		Content-Security-Policy "frame-ancestors 'self' *"
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
	}

	@health path /healthz
	handle @health {
		root * /srv
		file_server
		try_files {path} /healthz.txt
	}

	@landing path /landing
	handle @landing {
		root * /srv
		file_server
		try_files {path} /index.html
	}

	handle {
		reverse_proxy 127.0.0.1:8080
	}
}
