# Go build artifacts
/bin/
/dist/
/build/
/tmp/
/coverage/
*.out
*.test

# Logs
*.log

# Dependencies (uncomment if you vendor)
# /vendor/

# Editor/IDE
.idea/
.DS_Store
Thumbs.db

# Local app state (should not be committed)
.guildnet/

# Node
ui/node_modules/
ui/dist/

.env
.env.local
.env-*

/hostapp

guildnet.config